


<div class="container" ng-controller="orderController" ng-init="getAllOrder();getOrderList();">

    


    
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Order Name</th>
        <th>IsCheckOut</th>
        <th class="text-center">Selected Product</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in orders">
        <td>{{ o.id }}</td>
        <td>{{ o.orderName }}</td>
        <td>{{ o.checkOut }}</td>
        <td>

             <p ng-bind-html="searchProduct(o.id) | unsafe"></p>
             
  
        
        </td>
        <td>
            <button type="button" class="btn btn-danger" ng-click=""> Delete</button>
        </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
