<div class="panel panel-default" ng-init="getProducts()" ng-show="orderListPanel">
  <div class="panel-heading">
    <h3 class="panel-title">Product List</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div ng-repeat="pro in products">
            <div class="col-sm-4">
                
                <div class="col-md-6">
    				<h4>{{pro.name}}</h4>
    				<p>{{pro.price}}</p>
                                 <p>
                                    <input type="number"   min="0" max="99" class="form-control"  ng-init="pro.quantity=1" ng-model="pro.quantity" placeholder="Quantity" required>
                                </p>
                                <a class="btn btn-primary" ng-click="addToCart(pro)" >Order</a>
    			</div>
            </div>
   </div>
</div>
      
   

  </div>
</div>

<div ng-show="orderListPanel">
   <div class="panel panel-default" ng-init="" >
  <div class="panel-heading">
    <h3 class="panel-title">Order List</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div ng-repeat="pro in orderList">
            <div class="col-sm-4">
                
                <div class="col-md-6">
    				<h4>{{pro.name}}</h4>
    				<p>{{pro.price}}</p>
                                <input type="number"   min="0" max="99" class="form-control"  ng-init="pro.quantity=1" ng-model="pro.quantity" placeholder="Quantity" required>
                                <br/>
                                <button type="button" class="btn btn-warning btn-xs"  ng-click="removeToCart(pro)" >Remove</button>
    			</div>
            </div>
   </div>
</div>
      
   <div class="panel-heading">
    <h3 class="panel-title"><a class="btn btn-success" ng-click="hideOrderList();showconfirmPanel();createOrder()" > Create Order</a></h3>
  </div>
 </div>
 </div> </div> 
      
<div class="panel panel-default" ng-init="" ng-show="confirmPanel">
  <div class="panel-heading">
    <h3 class="panel-title">Confirm Order List</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div ng-repeat="pro in orderList">
            <div class="col-sm-4">
                
                <div class="col-md-6">
    				<h4>{{pro.name}}</h4>
    				<p>{{pro.price}}</p>
                                <input type="number"   min="0" max="99" class="form-control"  ng-init="pro.quantity=1" ng-model="pro.quantity" placeholder="Quantity" required>
                                <br/>
                                <button type="button" class="btn btn-warning btn-xs"  ng-click="removeToCart(pro)" >Remove</button>
    			</div>
            </div>
   </div>
</div>
      
   <div class="panel-heading">
    <h3 class="panel-title"><a class="btn btn-success" ng-click="confirmOrder()" > Confirm Order</a></h3>
  </div>
